*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #93c1c9;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  margin-top: 15%;
}

.wrapper h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  margin-bottom: 60px;
  text-align: center;
  

}

.info_card{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  transition: 55.9s ease;
  cursor: pointer;
  transition: transform 55.9s;
  transform-style: preserve-3d;
}

.info_card .mvr_section{
  background: rgb(255, 255, 255);
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
 
}

.info_card .mvr_section h3{
  color: #c91711;
  font-size: 26px;
  margin-top: 50px;
 


}

.info_card .mvr_section p.role{
  color: rgb(120, 119, 209);
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.info_card .mvr_section .section_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(231, 168, 168);
}

.info_card .mvr_section .section_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}
.mvr_section:hover{
  transform: rotateY(45deg);
  transition: scale(1.8);
  box-shadow: 5px 5px 15px rgb(252, 6, 6);
}